* {
  box-sizing: border-box;
}

body {
  background-color: #eddec1;
}

.container{
  position: relative;
  width: 200px;
  height: 400px;
  margin: 0 auto;
}

.tulip {
  width: 10px;
  height: 400px;
  margin: 30px 100px;
  float: left;
}

.leftBabyTulip{
  transform:scale(.6);
  left: -153px;
  top: 74px;
  .rightStemLeaf{
    top: 105px;
    transform: rotate(-32deg);
    left: -15px;
  }
  leftStemLeaf{
    transform: scale(0.7) rotate(90deg);
    left: -54px;
  }
}

.rightBabyTulip{
  transform:scale(.8);
  left: 163px;
  top: 42px;
  .tulipHead{
    transform: rotate(23deg);
    left: -80px;
  }
  .leftStemLeaf{
    visibility: hidden;
  }
  .rightStemLeaf{
    top: 70px;
    transform: rotate(-32deg);
    left: -15px;
  }
}

.tulip,
.stem,
.stemLeaf,
.tulipHead,
.tulipLeaf,
.tulipHair,
.tulipEyes,
.tulipSmile,
.tulipBlush {
  position: absolute;
}

.stem {
  height: 200px;
  width: 10px;
  border-radius: 50px;
  background-color: #25af59;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 0;
}

.stemLeaf {
  background-color: #139a3e;
  width: 60px;
  height: 60px;
}

.leaf {
  border-radius: 90% 0 90% 0;
}

.rightStemLeaf {
  top: 60%;
  width: 100px;
  transform: rotate(-10deg);
  left: -1px;
}

.leftStemLeaf {
  top: 20%;
  width: 80px;
  transform: rotate(90deg);
  left: -63px;
  z-index: -2;
}


.tulipHead {
  top: -159px;
  left: -102px;
  background-color: #f3a69e;
  width: 200px;
  height: 165px;
  border-radius: 0 0 50% 50%;
  z-index: 0;
  transform: rotate(-11deg);
}

.tulipLeaf {
  background-color: #ff8081;
  width: 40px;
  height: 40px;
  z-index: -1;
}

.rightTulipLeaf {
  transform: rotate(90deg);
  left: 4px;
}

.leftTulipLeaf {
  left: -33px;
}


.tulipHair {
  width: 0;
  height: 0;
  top: -60px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px * 2 solid #f3a69e;
}

.lightTulip {
  border-bottom: 30px * 2 solid #f3a69e;
}

.darkTulip {
  border-bottom: 30px * 2 solid #ff8081;
  border-bottom: 32px solid #ff8081;
  top: -32px;
  z-index: -1;
}

.darkTulip-1 {
  left: 30px;
}

.darkTulip-2 {
  left: 30px*3.69;
}

.lightTulip-1 {
  transform: rotate(-27deg);
  top: -43px;
  left: -17px;
}

.lightTulip-2 {
  left: 70px;
}

.lightTulip-3 {
  transform: rotate(27deg);
  top: -43px;
  left: 156px;
}

.tulipEyes {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #222;
  top: 55px;
}

.leftEye {
  left: 69px;
}

.rightEye {
  left: 119px;
}

.tulipSmile {
  width: 37px;
  width: 37px;
  height: 37px / 2;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 5px solid #222;
  transform: rotate(180deg);
  top: 73px;
  left: 81px;
  border-bottom: 0;
}

.tulipBlush {
  size: 30px;
  border-radius: 50%;
  background-color: #ff8081;
  width: 30px;
  height: 30px;
}

.leftBlush {
  top: 66px;
  left: 44px;
}

.rightBlush {
  top: 66px;
  left: 123px;
}


/* body {
  background-color: transparent;
  overflow:hidden;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
  position:absolute;
  width:100%;
 
} */

svg{
  visibility:hidden;
  overflow:visible;
 
}

.particle{
  /*mix-blend-mode:overlay;*/
}

.ring{
  vector-effect: non-scaling-stroke;
}
